@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }
   

@layer base{
    body{
        @apply font-[montserrat];
    }

    li{
        @apply px-4;
        @apply cursor-pointer;
    }
}

 /* background-color: #29335c; 
    color: #db2b39; */
    /* #f3a712;
    #f0cea0; 
    #534d41; */