@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }
   

@layer base{
    body{
        @apply font-[montserrat];
    }

    li{
        @apply px-4;
        @apply cursor-pointer;
    }
}

 /* background-color: #29335c; 
    color: #db2b39; */
    /* #f3a712;
    #f0cea0; 
    #534d41; */

.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 350px; */
    height: 250px;
}

.content-div:hover{
    background-image: linear-gradient(
        to right,
        rgba(112,157,255,0.8),
        hsla(242, 74%,61%, 0.8)
    )!important;
}